html {
  height: 100%;
}

body {
  height: 100%;

  background-color: #051121;
  overflow: hidden;
}

.container {
  display: table;
  position: absolute;

  width: 100%;
  height: 100%;
  overflow: hidden;

  left: 0;
  top: 0;
}

.content {
  display: table-cell;
  vertical-align: middle;

  overflow: hidden;
}

.console {
  overflow-y: scroll;
  overflow-x: hidden;

  width: 70%;
  height: 90vh; /* FireFox requires vh in this context */
  background-color: rgba(19, 49, 92, 0.61);
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);

  margin-left: auto;
  margin-right: auto;
}

.command {
  color: #E2C044 !important;
}

.link {
  color: #f06543;
  text-decoration: none;
}

.text {
  margin-left: 15px;

  font-size: 20px;
  font-family: 'Ubuntu Mono', monospace;
  color: #EEF4ED;
}

.text:first-child {
  padding-top: 15px;
}

.portfolio {
  margin-left: 0 !important;
}

.error {
  color: #F04341;
  font-weight: bold;
}

.value-span {
  margin-left: 0;

  background-color: transparent;

  outline: none;
  border: none;
}

.user-code {
  position: fixed;
  opacity: 0;

  z-index: 5;
}

.caret {
  display: inline-block;
  position: fixed;

  width: 15px;
  height: 5px;

  background-color: #EEF4ED;
}

.active-caret {
  animation: blink 1100ms steps(1) infinite;
}

@keyframes blink {
  50% {
    background-color: transparent;
  }

  100% {
    background-color: #EEF4ED;
  }
}
