/* General Formatting */

html,
body {
    /*background-color: #0F1626;*/
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
    letter-spacing: -0.04em;
    font-size: 1em;
    color: #000;
    overflow: hidden;
}

body {
    padding-bottom: 50px;
    overflow-x: hidden;
}

footer {
    text-align: center;
    padding: 20px 20px 20px 20px;
}

/* Jumbotron Formatting */

#main-jumbotron {
    background-color: #fff;
    background-size: cover;
    color: #000;
    text-align: center;
}

#floating-row {
    background-color: rgba(255, 255, 255, 0.1);
/*    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;*/
    margin-top: 45px;
    position: absolute;
    height: 90px;
    width: 100%;
}

#main-jumbotron h1 {
    font-weight: 600;
    font-size: 1.8em;
}

h2 {
    margin: 0px;
    font-size: 1em;
    font-weight: 600;

}

.pink-syntax { 
    color: #E91E63;
}

.blue-syntax  {
    color: #3F51B5;
}

.green-syntax {
    color: #009688;
}

#about_big {
    color: rgba(0, 0, 0, 0.4);
    /*font-family: 'Fjalla One', sans-serif;*/
    width: 100%;
    overflow: hidden;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    z-index: 0;
    /*border-bottom: 10px solid #f7941d;*/
}

#services-jumbotron {
    background-color: #c0392b;
    color: #fff;
    /*border-bottom: 10px solid rgb(0, 90, 130);*/
    /*border-top: 10px solid rgb(0, 90, 130);*/
}

#services-jumbotron .text-muted {
    color: #eee;
}

.jumbotron {
    margin-bottom: 0px;
    background: #fff;
}

.jumbotron p {
    margin-bottom: 15px;
    /*font-weight: 600;*/
    font-size: 1em;
}

#about-jumbotron {
    background-color: #0F1626;
    color: #fff;
    padding: 0px;
}

#about-text {
    padding: 20px;
}

#contact-jumbotron p {
    /*font-size: 1.2em;*/
}

#work-jumbotron {
    background-color: #fff;
    border-bottom: 10px solid #000;
}

/* Custom Button CSS */

.custom-btn {
    color: #fff;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    border-radius: 15px;
    transition: 0.25s;
}

.custom-btn:hover {
    color: #fff;
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
}
#header-text {
    margin-top: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 10px;
    font-weight: 400;
    display: inline-block;
}

#view-more-arrow {
/*    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    transform: rotateZ(90deg);*/
    font-size: 1.5em;
}

.hiddenDescription {
    visibility: hidden;
}

.services-icon {
    font-size: 3em;
}

.services-item {
    text-align: center;
}

.page-header {
    letter-spacing: -0.05em;
    font-weight: 600;
    text-align: center;
    background-color: none;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;   
    border-bottom: 3px ridge #0F1626;
    margin-top: 10px;
}

.text-muted {
    letter-spacing: -0.01em;
}

/* Media Queerying*/
/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    #main-jumbotron h1 {
        font-size: 1.3em;
    }

    h2 {
        font-size: 0.85em;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    #main-jumbotron h1 {
        font-size: 1.6em;
    }

    h2 {
        font-size: 1.3em;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    #main-jumbotron h1 {
        font-size: 2.3em;
    }

    h2 {
        font-size: 2em;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
